<% provide(:title, "List author") %>
<h1>List Author</h1>
<%= render "shared/search"%>
<% if logged_in? && current_user.role ==1 && !current_user?(@user) %>
	<div> 
		<span><h2><%= link_to "Add Author", new_author_path%></h2></span>
		<span>	<%=render "excel" %></span>
	</div>
<% end %>
<%= will_paginate %>

<ul class="authors">
	 <%= render @authors %>
</ul>

<%= will_paginate %>	

