<% provide(:title, "List author") %>
<h1>List Author</h1>
<%= render "search"%>
<div> 
	<span><h2><%= link_to "Add Author", new_author_path%></h2></span>
	<span>	<%=render "excel" %></span>
</div>

<%= will_paginate %>

<ul class="authors">
	<% @authors.each do |author| %>
	 	<%= render author %>
	<% end %>
</ul>

<%= will_paginate %>	

