<% provide(:title, "List author") %>
<h1>List Author</h1>
<%= render "shared/search"%>
<% if logged_in? && current_user.role ==1 && !current_user?(@user) %>
	<div> 
		<h3 style="text-align: center;"><%= link_to "AUTHOR", new_author_path, class: "glyphicon glyphicon-plus"%> <span><%=render "excel" %></span></h3>
		
	</div>
<% end %>
<%= will_paginate %>

<ul class="authors">
	 <%= render @authors %>
</ul>

<%= will_paginate %>	

