<% provide :title, @author.name %>
<h1><%= @author.name %></h1>

<div class="container">
  <dl>
    <dt>Name</dt><dd><%= @author.name %></dd><br>
    <dt>Email</dt><dd><%= @author.email %></dd><br>
    <dt>Info</dt><dd><%= @author.info %></dd><br>
  </dl>
  <% if current_user.role ==1 && !current_user?(@user) %>
    <%= link_to "Edit", edit_author_path(@author), class: "btn btn-primary edit" %>
    <%= link_to "Delete", @author, method: :delete, data: { confirm: "You sure?", remote: true },class: "delete_author btn btn-primary delete " %>
    <%= render 'follow_author_form' if logged_in? %>
  <% end %>
</div>

<div>

<h1>Book(<%= @author.books.count %>)</h1>
  <ul class="books">
       <%= render "book"%>     
  </ul> 
</div>