<% provide(:title, 'All users') %>
<h1>All users</h1>
<%= render "search"%>
<% if logged_in? && current_user.role == 1 %>
	<%= render "excel" %>
<% end %>

<%= will_paginate %>

<ul class="users">
     <%= render @users %>     
</ul> 

<%= will_paginate %>
