<% provide :title, "Request Details" %>
<h1>Request Details</h1>

<div class="container">
  <dl>
    <dt>Borrower</dt><dd><%= link_to @user.name, @user  %></dd><br>
    <dt>Book</dt><dd><%= link_to @book.name, @book  %></dd><br><br>
    <dt>Number of Borrowed</dt><dd><%= @request.number %></dd><br>
    <dt>Date from</dt><dd><%= @request.datefrom.to_date %></dd><br>
    <dt>Date to</dt><dd><%= @request.dateto.to_date %></dd><br>
  
  </dl>
</div>
