<h1>Edit Books</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@book) do |f| %>

      <%= f.label :cover %>
      <%= f.file_field :book_img %>
      
      <%= f.label :quantity %>
      <%= f.text_field :quantity, class: 'form-control' %>

      <%= f.label :page %>
      <%= f.text_field :page, class: 'form-control' %>

      <%= f.label :publisher %>
      <%= f.text_field :publisher, class: 'form-control' %>


      <%= f.submit "Edit", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>  