<h1>All Books</h1> 
<%= render "shared/search"%>
<% if logged_in? && current_user.role ==1 && !current_user?(@user) %>
	<span><h2><%= link_to "Add Book", new_book_path%></h2></span>
<% end %>

<%= will_paginate %>

<ul class="row">
     <%= render @books %>     
</ul> 
<%= will_paginate %>

