<h1>All Books</h1> 
<%= render "shared/search"%>
<% if logged_in? && current_user.role ==1 && !current_user?(@user) %>
	<h3 style="text-align: center;"><%= link_to "BOOK", new_book_path, class: "glyphicon glyphicon-plus"%></h3>
	<span><%=render "excel" %></span>
<% end %>

<%= will_paginate %>

<ul class="row">
     <%= render @books %>     
</ul> 
<%= will_paginate %>

