<% provide :title, @book.name %>
<div class ="row" style="padding-top: 30px;">
  <div class = "col-md-4">
    <%= image_tag @book.book_img.url(:book_show), class: "book-show"%>
  </div>
   
  <div class="col-md-8">
    <h3>Title: <%= @book.name %></h3>
    <h3>Author: <%= link_to @book.author.name, @book.author %></h3>
    <h3>
      Category: <% @book.categories.each do |c|%>
          <%= link_to c.name, c%> 
      <% end %>
    </h3>
    <h3>Publisher: <%= @book.publisher %> </h33>
    <h3>Page: <%= @book.page %></h3>
    <h3>Quantity: <%= @book.quantity %> </h3>
    <% if logged_in? && current_user.role ==1 && !current_user?(@user) %>
       <%= link_to "Edit", edit_book_path(@book), class: "btn btn-primary edit" %>
       <%= link_to "Delete", @book, method: :delete, data: { confirm: "You sure?", remote: true },class: "delete_book btn btn-primary delete " %>
    <% end %>
    <% if logged_in? %>
      <div class="borrow">
          <%= link_to "Borrow", new_book_request_detail_path(@book), class: "btn btn-primary borrow"%>
      </div>
    <% end %>
  
    <div>
      <%= render 'follow_book_form' if logged_in? %>
    </div>
  </div>
</div>
	