
<% provide :title, @book.name %>
<h1><%= @book.name %></h1>

<div class="container">
    <dl>
    <dt>Author:</dt><dd><%= link_to @book.author.name, @book.author %></dd><br>
    <dt>Category:</dt><dd>
    	<% @book.categories.each do |c|%>
    		  <%= link_to c.name, c%> |
    	<% end %>
    <dt>Publisher:</dt><dd><%= @book.publisher %></dd><br>
    <dt>Page:</dt><dd><%= @book.page %></dd><br>
    <dt>Quantity:</dt><dd><%= @book.quantity %></dd><br>
  </dl>
	<% if current_user.role ==1 && !current_user?(@user) %>
	   <%= link_to "Edit", edit_book_path(@book), class: "btn btn-primary edit" %>
     <%= link_to "Delete", @book, method: :delete, data: { confirm: "You sure?", remote: true },class: "delete_book btn btn-primary delete " %>
  <% end %>
  <%= render 'follow_book_form' if logged_in? %>
</div>
