<%= form_for r do |f| %>
	<tr>
		<% book = Book.find(r.book_id) %>
		<td><%= link_to (image_tag ("books/"+book.book_img_file_name),style:"height: 120px; width: 70px"),book,method: :get%></td>
		<td><%= f.label :number,value: book.quantity, readonly: true%></td>
		<td><%= f.number_field :number, in: 1..book.quantity, value:1%></td>
		<td><%= f.date_field :datefrom, min: Date.today, value: Date.today, readonly: true%>
		<td><%= f.date_field :dateto, min: Date.today+1, value: Date.today+1%></td>		
		<td>
			<%= link_to r, class: "remove remove-item", method: :delete, data:{confirm: "You sure?"} do %>
            	<i class="fa fa-trash-o"></i>
       		<% end %>
    	</td>		
	</tr>
<% end %>
