<% provide(:title, "My Cart") %>
<% if logged_in? %> 
	<% if (@request != nil && @request.verify ==3 && @request_details.count != 0) %>
  <h1>Cart</h1>
	<table class="table">
      <thead>
        <tr>
            <th>Book</th>
            <th>Amount of Borrows</th>
            <th>Option</th>
        </tr>
      </thead>
      <tbody>
        <% @request_details.each do |rq| %>
        <tr>
          <td>
            <a href="/books/<%= Book.find(rq.book_id).id %>">
              <%= image_tag Book.find(rq.book_id).book_img.url(:book_show), class: "book_cart"%>
            </a>
          </td>
          <td>
            <%= rq.number %>
          </td>
          <td>
            <%= link_to "", rq ,method: :delete, data: { confirm: "You sure?", remote: true }, class: "glyphicon glyphicon-trash" %>
          </td>
        </tr>
        <% end %>
      </tbody>
     
	</table>
      <button type="button" class="btn btn-warning">
        <%= link_to "Borrow", confirm_request_request_path(@request) %>
      </button>
	<% else %>
		<h1>Your Cart is empty</h1>
	<% end %>
	
<% end %>


 